Lab7_b_c_ASMX_WCF/ASP7.3/WFWebService/Connected Services/WS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddDict_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDict" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdDict_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdDict" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdDictResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelDict_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDict" />
  </wsdl:message>
  <wsdl:message name="IService1_DelDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDictResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDict" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDict" message="tns:IService1_AddDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDictResponse" message="tns:IService1_AddDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdDict" message="tns:IService1_UpdDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdDictResponse" message="tns:IService1_UpdDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelDict" message="tns:IService1_DelDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelDictResponse" message="tns:IService1_DelDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDict" message="tns:IService1_GetDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDictResponse" message="tns:IService1_GetDict_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDict">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <soap:operation soapAction="http://tempuri.org/IService1/DelDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDict">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/WCFService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>